<p>
  <strong>Title:</strong>
  <%= @character.name %>
</p>

<p>
  <strong>Text:</strong>
  <%= @character.nickname %>
</p>

<p>
  <strong>Text:</strong>
  <%= @character.superpower %>
</p>

<%= link_to 'All Characters', characters_path %> | <%= link_to 'Edit', edit_character_path(@character) %>
